<h1>{{movie.original_title}}</h1>
<p>{{movie.overview}}</p>
<p><strong>IMDB Rating:</strong> {{movie.vote_average}}</p>
<img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="{{movie.original_title}}" />

<h2>Comments</h2>
{{#each movie.Comments}}
  <p>{{this.content}}</p>
{{/each}}

<form action="/comment" method="POST">
  <textarea name="content" placeholder="Add your comment..."></textarea>
  <button type="submit">Submit</button>
</form>